<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Better Call Saul</title>
</head>
<body>
    <section class = "featured">
        <div class="container featured_container">
            <div class="post_thumbnail">
                <img src="">
            </div>
            <div class="post_info">
                <a href="" class="category_button">Wild Life</a>
                <h2 class="post_title"><a href="post.html"></a></h2>
            </div>
        </div>
    </section>
</body>
</html>