<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Login and Registration form</title>
    <link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename='css/forgot.css' )}}">
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/stylesheet.css' )}}">
</head>
<body>
    <div class = "container">
        <span></span>
        <span></span>
        <span></span>

        <form id="signinform" action="/forgot" method = "POST">
            <h2>Forgot Password</h2>
            <div class = "inputBox">
                <input name="email" id="email" type = "text" placeholder="Email" required>
            </div>

            <div class = "inputBox">
                <input name="new-password" id="new-password" type = "password" placeholder="New Password" required>
            </div>
            
            <div class = "inputBox">
                <input name="confirm-password" id="confirm-password" type = "password" placeholder="Confirm Password" required>
            </div>

            {% with messages = message %}
                {% if messages %}
                    <ul class=flashes style="list-style: none; padding: 10px; background-color: #f8d7da; color: #721c24; border: 1px solid #f5c6cb; border-radius: 5px;">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}


            <div class = "inputBox">
                <input type = "submit" value="Update">
            </div>  
        </form>
        
</body>
</html>