<!DOCTYPE html>
<html lang = "en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <title>News</title>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" type = "text/css" href="{{url_for('static', filename='css/news.css' )}}">
    </head>
    <body>
        <!-- Search bar -->
        <section class="search_bar">
            <form class="container search_container" action="">
                <div>
                    <i class='bx bx-search'></i>
                    <input type="search" name="" placeholder="Search">
                </div>
                <button type = "submit" class="btn">Go</button>
            </form>
        </section>

        <!-- Featured -->
        <section class ="featured">
            <div class = "container featured_container">
                <div class = "featured_thumbnail">
                    <img src="{{url_for('static', filename='assets/law1.jpg')}}" >  
                </div>

                <div class="featured_info">
                    <a href="" class="category_button">Legal</a>
                    <h2 class="featured_title"><a href="post.html">The Supreme Court of India in 2023: 25 important cases</a></h2>
                    <p class = "featured_body">
                        A five-judge Bench held that fundamental rights can be enforced not only against the State, but also against non-State actors.
                        This case originated from two instances of Ministers making controversial remarks against victims of a crime. The victims claimed that these remarks violated their right to life and personal liberty under Article 21 of the Constitution
                    </p>
                <div class="date">
                    <small>June 10, 2023</small>
                </div>
                </div>
            </div>
        </section>

        <!-- Subsections -->
        <section class="subsections">
            <div class = "container subsec_container">
                    <article class="subsec">
                        <div class="featured_thumbnail">
                            <img src="{{url_for('static', filename='assets/law1.jpg')}}" > 
                        </div>
                        <div class="featured_info">
                            <a href="" class="category_button">Legal</a>
                            <h3 class="featured_title"><a href = "post.html">Last date to file court case to claim share in property by legal heirs</a></h3>
                            <p class ="featured_body">
                                Do you have a share in a property which is not being given to you by other legal heir(s)? This may be because there is no will left by the individual in their 
                                self-acquired property. It may also happen that your share in property is in an ancestral or joint property. There is a deadline under the laws to file court case and get the share in a property.
                            </p>
                            <div class="date">
                                <small>July 11, 2023</small>
                            </div>
                        </div>
                    </article>


                    <article class="subsec">
                        <div class="featured_thumbnail">
                            <img src="{{url_for('static', filename='assets/law1.jpg')}}" > 
                        </div>
                        <div class="featured_info">
                            <a href="" class="category_button">Legal</a>
                            <h3 class="featured_title"><a href = "post.html">Last date to file court case to claim share in property by legal heirs</a></h3>
                            <p class ="featured_body">
                                Do you have a share in a property which is not being given to you by other legal heir(s)? This may be because there is no will left by the individual in their 
                                self-acquired property. It may also happen that your share in property is in an ancestral or joint property. There is a deadline under the laws to file court case and get the share in a property.
                            </p>
                            <div class="date">
                                <small>July 11, 2023</small>
                            </div>
                        </div>
                    </article>


                    <article class="subsec">
                        <div class="featured_thumbnail">
                            <img src="{{url_for('static', filename='assets/law1.jpg')}}" > 
                        </div>
                        <div class="featured_info">
                            <a href="" class="category_button">Legal</a>
                            <h3 class="featured_title"><a href = "post.html">Last date to file court case to claim share in property by legal heirs</a></h3>
                            <p class ="featured_body">
                                Do you have a share in a property which is not being given to you by other legal heir(s)? This may be because there is no will left by the individual in their 
                                self-acquired property. It may also happen that your share in property is in an ancestral or joint property. There is a deadline under the laws to file court case and get the share in a property.
                            </p>
                            <div class="date">
                                <small>July 11, 2023</small>
                            </div>
                        </div>
                    </article>

                    <article class="subsec">
                        <div class="featured_thumbnail">
                            <img src="{{url_for('static', filename='assets/law1.jpg')}}" > 
                        </div>
                        <div class="featured_info">
                            <a href="" class="category_button">Legal</a>
                            <h3 class="featured_title"><a href = "post.html">Last date to file court case to claim share in property by legal heirs</a></h3>
                            <p class ="featured_body">
                                Do you have a share in a property which is not being given to you by other legal heir(s)? This may be because there is no will left by the individual in their 
                                self-acquired property. It may also happen that your share in property is in an ancestral or joint property. There is a deadline under the laws to file court case and get the share in a property.
                            </p>
                            <div class="date">
                                <small>July 11, 2023</small>
                            </div>
                        </div>
                    </article>

                    <article class="subsec">
                        <div class="featured_thumbnail">
                            <img src="{{url_for('static', filename='assets/law1.jpg')}}" > 
                        </div>
                        <div class="featured_info">
                            <a href="" class="category_button">Legal</a>
                            <h3 class="featured_title"><a href = "post.html">Last date to file court case to claim share in property by legal heirs</a></h3>
                            <p class ="featured_body">
                                Do you have a share in a property which is not being given to you by other legal heir(s)? This may be because there is no will left by the individual in their 
                                self-acquired property. It may also happen that your share in property is in an ancestral or joint property. There is a deadline under the laws to file court case and get the share in a property.
                            </p>
                            <div class="date">
                                <small>July 11, 2023</small>
                            </div>
                        </div>
                    </article>

                    <article class="subsec">
                        <div class="featured_thumbnail">
                            <img src="{{url_for('static', filename='assets/law1.jpg')}}" > 
                        </div>
                        <div class="featured_info">
                            <a href="" class="category_button">Legal</a>
                            <h3 class="featured_title"><a href = "post.html">Last date to file court case to claim share in property by legal heirs</a></h3>
                            <p class ="featured_body">
                                Do you have a share in a property which is not being given to you by other legal heir(s)? This may be because there is no will left by the individual in their 
                                self-acquired property. It may also happen that your share in property is in an ancestral or joint property. There is a deadline under the laws to file court case and get the share in a property.
                            </p>
                            <div class="date">
                                <small>July 11, 2023</small>
                            </div>
                        </div>
                    </article>
            </div>
        </section>

    </body>
</html>