<!DOCTYPE html>
<html lang = "en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <title>News</title>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" type = "text/css" href="news.css">
    </head>
    <body>
        <div class="container">
             
          <!-- <img src="law1.jpg">   -->
        </div>

        <section class="singlenews">
            <div class="container news_container">
                <h2>The Supreme Court of India in 2023: 25 important cases</h2>
                <div class="date">
                    <small>June 10, 2023</small>
                </div>

                <div class = "news_thumbnail">
                    <img src="law1.jpg" >  
                </div>

                <p>
                    A five-judge Bench held that fundamental rights can be enforced not only against the State, but also against non-State actors.
                    This case originated from two instances of Ministers making controversial remarks against victims of a crime. The victims claimed that these remarks violated their right to life and personal liberty under Article 21 of the Constitution
                </p>

                <p>
                    A five-judge Bench held that fundamental rights can be enforced not only against the State, but also against non-State actors.
                    This case originated from two instances of Ministers making controversial remarks against victims of a crime. The victims claimed that these remarks violated their right to life and personal liberty under Article 21 of the Constitution
                </p>

                <p>
                    A five-judge Bench held that fundamental rights can be enforced not only against the State, but also against non-State actors.
                    This case originated from two instances of Ministers making controversial remarks against victims of a crime. The victims claimed that these remarks violated their right to life and personal liberty under Article 21 of the Constitution
                </p>

                <p>
                    A five-judge Bench held that fundamental rights can be enforced not only against the State, but also against non-State actors.
                    This case originated from two instances of Ministers making controversial remarks against victims of a crime. The victims claimed that these remarks violated their right to life and personal liberty under Article 21 of the Constitution
                </p>

                <p>
                    A five-judge Bench held that fundamental rights can be enforced not only against the State, but also against non-State actors.
                    This case originated from two instances of Ministers making controversial remarks against victims of a crime. The victims claimed that these remarks violated their right to life and personal liberty under Article 21 of the Constitution
                </p>

            </div>
        </section>

    </body>
</html>