<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Login and Registration form</title>
    <link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename='css/login.css' )}}">
    <link rel="stylesheet" href="{{url_for('static', filename='fonts/stylesheet.css' )}}">
</head>
<body>
    <div class = "container">
        <span></span>
        <span></span>
        <span></span>
        
        <form id="signupform" action="/signup" method="POST">
            <h2>Registration</h2>
            <div class = "inputBox">
                <input type = "text" name="username" id="username" placeholder="Username" required>
            </div>

            <div class = "inputBox">
                <input type = "text" name="fname" id="fname" placeholder="First Name" required>
            </div>

            <div class = "inputBox">
                <input type = "text"  name="lname" id="lname" placeholder="Last Name" required>
            </div>

            <div class = "inputBox">
                <input type = "text" name="email" id="email" placeholder="Email Address" required>
            </div>

            <div class = "inputBox">
                <input type = "password" name="password" id="password" placeholder="Password" required>
            </div>
            {% with messages = message %}
                {% if messages %}
                    <ul class=flashes style="list-style: none; padding: 10px; background-color: #f8d7da; color: #721c24; border: 1px solid #f5c6cb; border-radius: 5px;">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            

            <div class = "inputBox">
                <input type = "submit" value="Register" required>
            </div>  

            <div class = "inputBox group">
                <a href="/login">
                    Already have an account?&nbsp;
                    <b id="signin">Login</b>
                </a>
            </div>
        </form>  
    </div>
</body>
</html>