@import url('https://fonts.googleapis.com/css2?family=isocpeurregular:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=isocpeurregular:wght@300&display=swap');
:root{
  --black:var(--bg);
  --bg:#010103;
  --border:.1rem solid rgba(255,255,255,.3);
  --main_color:#80FF44;
}
body{
  background: var(--bg);
  overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'isocpeurregular', sans-serif;
    transition: .2s linear;  
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    width: 100%;
    padding: 20px 10px;
    border-bottom: var(--border);
    background: #1b1b1b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.logo {
    font-size: 25px;
    color: var(--main_color);
    text-shadow: 0 0 5px var(--main_color);
    text-decoration: none;
    font-weight: 600;
}
.login_btn{
  background-size:200%;
  transition: 0.2s;
  color:var(--black);
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  border: none;
  outline: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-size: 200%;
  transition: 0.6s;
  background-image: linear-gradient(to left,#24FE41,#FDFC47,#24FE41);
}
.login_btn:hover{
  background-position: right;

}
.active{
  color: var(--main_color);
}
nav a {

    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
nav a:hover,
nav a.active {
    color: var(--main_color);
    text-shadow: 0 0 5px var(--main_color);
    transition-delay: 1ms;
    padding-bottom: .5rem;
}
nav a:nth-child(5):hover{
  color:var(--black)
}
.home{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg);
    font-size: 100px;
    color: #fff;
    font-weight: 700;
}
/* section:nth-child(odd) {
    background: #000
} */
.home-content {
    gap: 80 px;
    width: 55%;
    display: flex;
    max-width: 900px;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-main {
    gap: 25px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
.home-heading {
    color: rgb(255, 255, 255);
    position: relative;
    left:25px;
    font-size: 64px;
    font-style: normal;
    font-family: isocpeurregular;
    line-height: 80px;
    font-weight: 600;
  }
  .home-caption {
    color: var(--main_color);
    position: relative;
    padding-left:30px;
    padding-top: 15px;
    font-size: 30px;
    font-family: isocpeurregular;
    line-height: 30px;
    font-weight: 500;
  }
  .home-image01 {
    right: 0px;
    bottom:0px;
    width: 600px;
    height:500px;
    margin: auto;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }


  .news{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg);
    font-size: 100px;
    color: #fff;
    font-weight: 700;
    overflow-x:hidden;
}
  .news-content {
    gap: 80 px;
    width: 50%;
    display: flex;
    max-width: 900px;
    align-items: flex-start;
    flex-direction: column;
  }
  .news-main {
    position: relative;
    left: 50px; 
    gap: 25px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
.news-heading {
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-style: normal;
    font-family: isocpeurregular;
    line-height: 80px;
    font-weight: 600;
  }
  .news-image01 {
    top: 0px;
    right: 0px;
    width: 350px;
    height:350px;
    margin: auto;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .nbtn_container{
    position: relative;
    bottom: 40px;
    right: 20px;
  }
  .nbtn{
    border: none;
    margin: 20px;
    padding: 24px;
    width: 220px;
    font-weight:800;
    font-family: "isocpeurregular",sans-serif;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    background-size: 200%;
    transition: 0.6s;
  }
  .nbtn:hover{
    background-position: right;
  }
  
  .btn1{
    background-image: linear-gradient(to left,#fa18ef,#c207e3,#ea1ad1);
  }
  

  .lawyers{
    min-height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
    background: var(--bg);
    font-size: 100px;
    color: #fff;
    font-weight: 700;
}
  .lawyers-content {
    gap: 80 px;
    width: 50%;
    display: flex;
    max-width: 900px;
    align-items: flex-start;
    flex-direction: column;
  }
  .lawyers-main {
    gap: 25px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
.lawyers-heading {
   position:relative;
   left:750px;
   color: rgb(255, 255, 255);
   font-size: 64px;
   font-style: normal;
   font-family: isocpeurregular;
   line-height: 80px;
   font-weight: 600;
  }
  .lawyers-image01 {
    bottom: 40px;
    right:420px;
    width: 350px;
    height:350px;
    margin: auto;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .lbtn_container{
    position: relative;
    bottom: 40px;
    left: 1250px;
  }
  .lbtn{
    border: none;
    margin: 20px;
    padding: 24px;
    width: 220px;
    font-weight:800;
    font-family: "isocpeurregular",sans-serif;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    background-size: 200%;
    transition: 0.6s;
  }
  .lbtn:hover{
    background-position: right;
  }
  .btn2{
    background-image: linear-gradient(to left,#fadd05,#de2019,#e7c205);
  }


  .doc{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg);
    font-size: 100px;
    color: #fff;
    font-weight: 700;
}
  .doc-content {
    gap: 80 px;
    width: 70%;
    display: flex;
    max-width: 900px;
    align-items: flex-start;
    flex-direction: column;
  }
  .doc-main {
    position: relative;
    left: 50px; 
    gap: 25px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
.doc-heading {
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-style: normal;
    font-family: isocpeurregular;
    line-height: 80px;
    font-weight: 600;
  }
  .doc-image01 {
    top: 0px;
    right: 0px;
    width: 300px;
    height:300px;
    margin: auto;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  .dbtn_container{
    position: relative;
    bottom: 40px;
    right: 20px;
  }
  .dbtn{
    border: none;
    margin: 20px;
    padding: 24px;
    width: 220px;
    font-weight:800;
    font-family: "isocpeurregular",sans-serif;
    font-size: 20px;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    background-size: 200%;
    transition: 0.6s;
  }
  .dbtn:hover{
    background-position: right;
  }
  
  .dbtn3{
    background-image: linear-gradient(to left,#e5be10,#2ca507,#e39607);
  }

  .footer{
    background: var(--bg);
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    }
    
    .footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:var(--main_color);
    font-size:1.625rem;
    }
    
    .footer .row a{
    text-decoration:none;
    color:#fff;
    transition:0.5s;
    }
    
    .footer .row a:hover{
      color: var(--main_color);
      text-shadow: 0 0 5px var(--main_color);
      transition-delay: 1ms;
    }
    
    .footer .row ul{
    width:100%;
    }
    
    .footer .row ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .row a i{
    font-size:2em;
    margin:0% 1%;
    }
    
    @media (max-width:720px){
    .footer{
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
    }
    .footer .row a i{
    margin:0% 3%;
    }
    } 