@import url('https://fonts.googleapis.com/css2?family=isocpeurregular:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=isocpeurregular:wght@300&display=swap');
:root{
  --black:var(--bg);
  --bg:#010103;
  --border:.1rem solid rgba(255,255,255,.3);
  --main_color:#80FF44;
}
body{
 
  overflow-x: hidden !important;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'isocpeurregular', sans-serif;
    transition: .2s linear;  
    
}
header {
    position: sticky;
    background-color: rgb(20, 22, 23);
    top: 0;
    left: 0;
    right:0;
    width: 100%;
    padding: 0px 10px;
    border-bottom: var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.logo {
    font-size: 25px;
    color: var(--main_color);
    text-shadow: 0 0 5px var(--main_color);
    text-decoration: none;
    font-weight: 600;
}
.login_btn{
  background-size:200%;
  transition: 0.2s;
  color:var(--black);
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  border: none;
  outline: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-size: 200%;
  transition: 0.6s;
  background-image: linear-gradient(to left,#24FE41,#FDFC47,#24FE41);
}
.login_btn:hover{
  background-position: right;

}
.active{
  color: var(--main_color);
}
nav a {

    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
nav a:hover,
nav a.active {
    color: var(--main_color);
    text-shadow: 0 0 5px var(--main_color);
    transition-delay: 1ms;
    padding-bottom: .5rem;
}
nav a:nth-child(5):hover{
  color:var(--black)
}
body
{
    line-height: 1.6;
    color:#fff;
    overflow-x: hidden;
    background: #000;
    font-size: 0.9rem;
}

.container{
    width: 420px;
    max-width: 1800px;
    margin-inline: auto;
    display: grid;

}

section
{

    margin-top: 3rem;
    width:100vw;
    
}

h1, h2, h3, h4, h5
{
    color:#fff;
    line-height:1.3;
}

h1
{
    font-size: 3rem;
    margin: 1rem 0;
}

h2
{
    font-size: 1.7rem;
    margin : 1rem 0;
}

h3
{
    font-size : 1.5rem;
    margin: 0.8rem 0 0.5rem;
    color: #80FF44 !important;
}

h4
{
    font-size: 1rem;
}

b
{
    color:#80FF44
}

a
{
    text-decoration: none !important;
    transition : all 300ms ease;   
}

img
{
    display : block;
    width : 100%;
    height: auto;
    object-fit:cover;
}

.category_button
{
    background:#80FF44;
    color:#000;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius:0.5rem;
    font-weight:600;
    font-size:0.8rem;
    text-align:center;
}

.category_button:hover
{
    color:grey;
}


/*General*/ 
.featured_thumbnail
{
    border-radius: 5rem 0;
    border: 1rem solid #fff;
    overflow:hidden;
    margin-bottom: 1rem;
    width: 390px;
}
.featured_info{
    display: flex;
    flex-direction: column;
    
    flex-wrap: wrap;
    overflow: hidden;
    width: 390px;
}
.featured_title{
    font-size: 21.5px;
    color:#80FF44;
}

.featured_body
{
    font-size: 1.1rem;
}

.post:hover .featured_thumbnail img
{
    filter : saturate(0);
    transition: filter 500ms ease;
}

.author
{
    display : flex;
    
    margin-top : 1.2rem;
    color: #80FF44;
    font-size: 1.1rem;
}
.date
{
    display : flex;
    
    margin-top : 1.2rem;
    color: #80FF44;
    font-size: 1.1rem;
}
/* Subsections */
.subsections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 70px;
    justify-items: center;
    column-gap: 100px;
    margin-bottom: 5rem;
    padding: 0px 60px;
}

.subsec{
    display:flex;
    flex-direction: column;
    
    max-width: 400px !important;
    align-items: flex-start;
}

/* Search bar */    

.search_container
{
    position : relative;
    width:30rem;
    background:#fff;
    display:flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 0.6rem 1rem;
    border-radius:0.5rem;
    color: #000; 
   
}

.search_container > div
{
    width: 100%;
    display: flex;
    align-items: center;
}

.search_bar input
{
    background: transparent;
    margin-left: 0.7rem;
    padding: 0.5rem 0;
    width : 100%;
    font-size: 18px;
    border: none
}
.search_bar input:focus
{
    outline: none !important;
    border: none !important;
}

.search_bar input::placeholder
{
    color:#000;
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
}
/* Single news */
.singlenews
{
    margin: 6rem 0 2rem;
}

.news_container
{
    width: 40%;
    background:gray;
    padding: 1rem 2rem 3rem;
}

.news_thumbnail
{
    margin: 1.5rem 0 1rem;
}

.news_container p
{
    margin-top: 1rem;
    line-height:1.7;
}

.page-link:hover {
    color: #80FF44 !important;
    background-color: var(--darkreader-bg--bs-pagination-hover-bg) !important;
    border-color: var(--darkreader-border--bs-pagination-hover-border-color) !important;
}

.page-link {
    color: #80FF44 !important;
    text-decoration-color: initial !important;
    background-color: var(--darkreader-bg--bs-pagination-bg) !important;
    border: var(--darkreader-border--bs-pagination-border-width) solid var(--darkreader-border--bs-pagination-border-color) !important;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

.pagination{
    display: flex;
    justify-content: center;
    padding: 45px;
    margin: 0 !important;
}
